@bootstrap-path: 'node_modules/bootstrap/less/';

@import "variables";
@import "@{bootstrap-path}mixins";

[mx-checkout] {
  max-width: 450px;
  margin: auto;
  width: 100%;

  .panel-default {
    .panel-variant(@panel-default-border; @panel-default-text; @panel-default-heading-bg; @panel-default-border);

    > .panel-heading + .panel-collapse > .panel-body {
      border: 0;
    }

    &.panel-open{
      background: #F6F7F9;
      .panel-heading{
        background: #F6F7F9;
        border: none;
      }
    }
  }

  .form-inline {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }

    .form-control-static {
      display: inline-block;
    }

    .input-group {
      display: inline-table;
      vertical-align: middle;

      .input-group-addon,
      .input-group-btn,
      .form-control {
        width: auto;
      }
    }

    .input-group > .form-control {
      width: 100%;
    }

    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    .has-feedback .form-control-feedback {
      top: 0;
    }

  }
  iframe {
    display: block;
    width: 100%;
  }
  .has-feedback .form-control {
      padding-right: 30px;
  }
}